*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f2f5f9;
}
.pricing-table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.pricing-card{
    background-color: #ffff;
    padding: 35px;
    border-radius: 15px;
}
.pricing-card h3{
    font-size: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.pricing-card p{
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: bold;
}
.pricing-card ul{
    list-style: none;
}
.pricing-card li{
    padding: 2px;
    font-size: 15px;
}
.pricing-card a {
    border: 0.5px solid #F4B400;
    text-decoration: none;
    margin-top:20px;
    padding:5px;
    font-size: 12px;
   display: inline-block;
   background-color: #FF00BF;
   color: #ffff;
   border-radius:50px;
}
.pricing-card a:hover{
    background-color: #FC642D;
}
.pricing-card:hover{
    background-color:#0F9D58;
}
.pricing-card{
    box-shadow: 0px 8px 30px #00000070;
}